# PostgreSQL DB Source
DATABASE_URL=postgresql://<username>:<password>@<host>:<port>/<database_name>

# Amazon Bedrock API Key
AWS_BEARER_TOKEN_BEDROCK=xxxxxxxxxx

# AWS Region
AWS_REGION=ap-southeast-2

# Foundation Model Identifier
MODEL_ID=amazon.nova-lite-v1:0

# Frontend URL
FRONTEND_URL=http://localhost:3000

# JWT Secret Key
JWT_SECRET_KEY=xxxxxxxxxx
